* {
  margin: 0;
  padding: 0;
}

.titulo1 {
  color: rgb(1, 111, 144);
  margin: 5px;
  padding: 5px;
}
.titulo2 {
  color: rebeccapurple;
  margin: 5px;
  padding: 5px;
}
.ult {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.lista__productos--botonAgregar {
  color: rgb(86, 131, 2);
  background-color: rgb(128, 231, 138);
  font-size: 20px;
  margin: 5px;
  padding: 5px;
  text-decoration: none;
}

.lista__productos--botonEliminar {
  color: rgb(216, 116, 33);
  background-color: rgb(255, 255, 255);
  font-size: 15px;
  margin: 5px;
  padding: 5px;
  text-decoration: none;
  display: block;
}

.seccionProductos {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-family: Arial, Helvetica, sans-serif;
}
.seccionAccesorios {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-family: Arial, Helvetica, sans-serif;
}

.seccionProductos div {
  width: 30%;
  text-align: center;
  background-color: #9ef4ea;
  border: 2px solid black;
  display: flex;
  justify-content: space-around;
}
.seccionAccesorios div {
  width: 30%;
  text-align: center;
  background-color: #e9c46a;
  border: 2px solid black;
  display: flex;
  justify-content: space-around;
}

.body__header--text {
  color: blueviolet;
  font-family: Roboto;
}

.menu__list--header {
  background-color: #333;
  color: rgb(38, 255, 0);
  font-family: roboto;
  font-style: italic;
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}
.menu__list--item {
  float: left;
  border-right: 1px solid #bbb;
}
.menu__list--item a {
  line-height: 1.6;
  text-decoration: none;
  color: #666;
  text-align: center;
  font-family: roboto;
  font-size: 18px;
  display: block;
  padding: 8px 12px;
}

.menu__list--item a:hover:not(.active) {
  background-color: #ddd;
}

.lista__accesorios--botonAgregar {
  color: rgb(199, 19, 79);
  background-color: rgb(197, 166, 107);
  font-size: 20px;
  margin: 5px;
  padding: 5px;
  text-decoration: none;
  display: block;
}

.lista__accesorios--botonEliminar {
  color: rgb(216, 116, 33);
  background-color: rgb(255, 255, 255);
  font-size: 15px;
  margin: 5px;
  padding: 5px;
  text-decoration: none;
  display: block;
}

#listaProductosAgregados {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: space-around;
  font-family: Arial, Helvetica, sans-serif;
}

#listaProductosAgregados div {
  width: 30%;
  display: flex;
  justify-content: space-around;
  text-align: center;
  border: 2px solid black;
}

#listaProductosAgregados div p {
  margin: 5px;
  padding: 5px;
  font-weight: bold;
  color: #1e6666;
}

#listaAccesoriosAgregados {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: space-around;
  font-family: Arial, Helvetica, sans-serif;
}

#listaAccesoriosAgregados div {
  width: 30%;
  display: flex;
  justify-content: space-around;
  text-align: center;
  border: 2px solid black;
}

#listaAccesoriosAgregados div p {
  margin: 5px;
  padding: 5px;
  font-weight: bold;
  color: #1e6666;
}

#total {
  background-color: black;
  text-align: center;
  color: white;
  font-size: 25px;
  font-weight: bold;
  margin: 5px;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

#sinProducto {
  color: rgb(86, 131, 2);
  background-color: rgb(128, 231, 138);
  font: size 20px;
  margin: 5px;
}

#sinAccesorio {
  color: rgb(86, 131, 2);
  background-color: rgb(128, 231, 138);
  font: size 20px;
  margin: 5px;
}

#destino h3 {
  color: #8f528f;
  text-align: left;
  margin: 10px;
}

#destino div {
  color: #973d5185;
  margin: 10px;
  position: relative;
  font-family: Roboto;
}

#destino div select {
  color: #3c1d5085;

  font-family: Arial;
  font-weight: bold;
}

table {
  border: 3px solid;
  font-family: Arial, Helvetica, sans-serif;
}

th {
  background-color: #cccccc;
  border: 1px solid;
}

tr {
  border: 1px solid;
}
td {
  background-color: rgb(187, 255, 255);
  border: 1px solid;
}

ul {
  color: rgb(7, 70, 95);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

/*damos formato a los h1*/
h1 {
  border: 1 px darkcyan;
  color: rgb(211, 112, 0);
  text-align: center;
  font-family: "Lato", sans-serif;
}

/*damos formato a los h2*/
h2 {
  background-color: rgb(231, 212, 209);
  color: rgb(19, 199, 139);
  font-family: Arial, Helvetica, sans-serif;
}

/*damos formato a los h3*/
h3 {
  text-align: center;
  color: crimson;
  font-family: Arial, Helvetica, sans-serif;
}

/*damos formato a los h4*/
h4 {
  color: brown;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
  padding: 5px;
}

/*definimos el color de texto de los parrafos*/
p {
  color: rgb(63, 16, 16);
  font-size: 18px;
  font-style: italic;
  margin: 1px;
  padding: 5px;
}

/*definimos un tipo de texto particular*/
